{% extends 'base.html' %}
{% load static %}
{% block title %}言語選択{% endblock %}

{% block main %}

<div id='language' class="pt-5">
    <p>言語を選択してください</p>
    <select-language 
        v-for="item in items"
        :key="item.id"
        :item="item" />
</div>

<script>
var selectLanguage = {
    props: {
        item: Object
    },
    delimiters: ["${", "}"],
    template:  '<div>' +
                    '<b-card :title="item.name" :img-src="item.imgUrl" img-alt="Image"' +
                        'img-top tag="article" style="max-width: 30rem;" class="my-2 py-3">' +
                        '<div v-for="(wordbookUrl, pos) in item.wordbookUrls">' +
                            '<b-button :href="wordbookUrl" variant="link">${ pos }</b-button>' +
                            '<b-button :href="getMistakeParamUrl(wordbookUrl)" variant="link">間違った: ${ pos }</b-button>' +
                        '</div>' +
                        '<b-card-text class="mt-5"><a :href="item.officialUrl">公式ページリンク</a></b-card-text>' +
                    '</b-card>' +
                '</div>',
    methods: {
        getMistakeParamUrl: function(url) {
            return url + "?mistake=True";
        }
    },
}

var languages = new Vue({
    el: '#language',
    data: {
        items: [
            {
                id: 0,
                name: 'Python',
                wordbookUrls: {
                    "名詞": "{% url 'wordbook' 'python' 'noun' %}",
                    "動詞": "{% url 'wordbook' 'python' 'verb' %}",
                    "形容詞": "{% url 'wordbook' 'python' 'adjective' %}",
                    "副詞": "{% url 'wordbook' 'python' 'adverb' %}",
                },
                imgUrl: "{% static 'img/python-logo-master-v3-TM.png' %}",
                officialUrl: "https://www.python.org/",
            },
        ],
    },
    components: {
        "select-language": selectLanguage
    },
});

</script>

{% endblock %}
