{% extends 'base.html' %}
{% block title %}TOP{% endblock %}

{% block extra_css %}
<style>
#top {
    background: linear-gradient(#dfdfdf 1px, transparent 1px) #fffbf2;
    background-size: auto 2em;
    margin-top: 50px;
    padding: 64px;
    min-height:100vh;
}

.title-box {
    padding: 40px;
}
.title-text {
    font-size: 6rem;
}

.explain-text-box {
    border: 3px solid black;
    padding: 40px;
    list-style-type: square;
    font-size: 1.1rem;
}
</style>
{% endblock %}

{% block main %}
<div id="top">
    <div class="title-box">
        <h5 class="fw-bold">☆ITエンジニア編☆</h5>
        <h1 class="text-center fw-bold title-text">英語</h1>
    </div>
    <p class="mt-4">
        <p class="text-center fw-bold">受講の際の注意</p>
        <ul class="explain-text-box">
            <li class="mb-3">
                プログラミング言語の公式ドキュメントにおいて出現した単語を独自に集計し、
                単語帳を作成いたしました。
            </li>
            <li class="mb-3">
                間違えた問題のみのチェックリスト機能がございますので、
                苦手にフォーカスした効率的な学習が体験できます。
            </li>
            <li class="mb-3">
                英語が苦手な方はもちろん、
                得意な方もどんな英単語が頻出するのかという点で楽しめます。
            </li>
            <li class="mb-3">
                非常に平易と感じるかもしれません、
                そのときは、相当な英単語を理解していることを認識していただき、自信につながれば幸いです。
            </li>
        </ul>
        <b-button class="my-3" variant="outline-danger" to="{% url 'login' %}">学習を始める</b-button>
    </p>

    <p>現在、
        <ul>
            <li>Python(https://www.python.org/)</li>
        </ul>
        に対応しております。</p>
</div>

<script>
    var top = new Vue({
        el: '#top',
    })
 </script>

{% endblock %}

